##### CUSTOM ALIASES #####

alias config='git --git-dir=$HOME/dotfiles --work-tree=$HOME'

# For Vim's bad habits
alias :q='exit'
alias :wq='exit'
alias :x='exit'

# Simple aliases
alias cp='cp -i'
alias rm='rm -i'
alias mv='mv -i'
alias exa='exa --color=always --icons'
alias la='exa -a --color=always --icons'
alias ll='exa -l --color=always -h --icons --tree --level=1'
alias all='exa -al --color=always -h --icons --tree --level=1''
alias cat="batcat"
alias n="nvim"
alias history"history -n | fzf | sort | uiq | xclip -selection clipboard"

# Suffix aliases
alias -s pdf=zathura
alias -s {mp4}=mpv
alias -s {jpg,jpeg,png,gif}=sxiv
alias -s {conf,css,rasi,html,txt,sh,py,tex,lua,md}=nvim
